.config/ranger/history
.config/code_manager/cache
.config/ranger/tagged
.config/ranger/plugins/__pycache__

.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64

*.pyc
*.pyo

__pycache__/
*.py[cod]

/**/__pycache__/**

.config/GitHub Desktop/
.config/Insync/
.config/Pencil/
.config/QtProject.conf
.config/autostart/
.config/brasero/
.config/cmus/
.config/code_manager/logs/
.config/conky/
.config/dconf/
.config/discord/
.config/enchant/
.config/evolution/
.config/fontconfig/
.config/gedit/
.config/git/
.config/ibus/
.config/inkscape/
.config/libreoffice/
.config/pulse/
.config/spotify/
.config/totem/
.config/vifm/
.config/vlc/
.config/.gnupg/
.config/.lesshst
.config/emacs
.config/.nvidia-settings-rc
.config/kritarc
.config/kritadisplayrc
.config/configstore/
